<mat-toolbar>
    <p>Proyecto Angular</p>
</mat-toolbar>

<mat-sidenav-container>

    <mat-sidenav class="mat-elevation-z8" mode="side" opened="">

        <img class="avatar mat-elevation-z8" src="https://source.unsplash.com/c_GmwfHBDzk/200x200" />

        <h4 class="name">{{sesion$ | async | json}}</h4>
        <p class="designation">Software Engineer</p>

        <mat-divider></mat-divider>
        <button  routerLink="/auth/login" mat-button class="menu-button" >
            <mat-icon>settings</mat-icon>
            <span>Login</span>
        </button>
        <button  routerLink="/cursos/lista-cursos" mat-button class="menu-button" >
            <mat-icon>home</mat-icon>
            <span>Lista de Cursos</span>
        </button>
        <button  routerLink="/estudiantes/lista-estudiantes" mat-button class="menu-button" >
            <mat-icon>person</mat-icon>
            <span>Lista de Estudiantes</span>
        </button>
        <button routerLink="/clases/lista-clases" mat-button class="menu-button">
            <mat-icon>info</mat-icon>
            <span>Lista de Clases</span>
        </button>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button">
            <mat-icon>help</mat-icon>
            <span>Help</span>
        </button>

    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z8">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

